body {
    background-color: tan;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.playarea {
    height: 90vh;
    background-image: url('../img/outdoor-range.jpg');
    background-size: cover;
}

.header-text {
    color: darkblue;
    font-size: 30px;
}


header {
    display: inline-flex;
    justify-content: center;
    text-align: center;
}
