body {
    background-color: tan;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: url('../img/outdoor-range.jpg');
    background-size: cover;
}

.playarea {
    height: 85vh;
    background-color: transparent;
    background-size: cover;
}

.header-text {
    color: darkblue;
    font-size: 30px;
}


header {
    display: inline-flex;
    justify-content: center;
    text-align: center;
}

.instruction-text {
    display: none;
    font-style: italic;
}

#how-to-play{
    display: inline-flex;
}
